---
import MainLayout from '../../layouts/main-layout.astro';
import '../../styles/global.css';

const pageTitle = 'study';
const posts = Object.entries(
  import.meta.glob('../../content/study/**/*.md', { eager: true }),
).map(([path, module]: [string, any]) => {
  const slug = path.replace('../../content/study/', '').replace(/\.md$/, '');
  return {
    title: slug,
    url: `/study/${slug}`,
    isLink: module.frontmatter.isLink,
    jsurl: `/study/${slug}/forJS`,
  };
});
---

<MainLayout pageTitle={pageTitle}>
  <div class="flex flex-col">
    {
      posts.map(({ url, title, isLink, jsurl }) => (
        <div class="flex flex-row justify-between hover:bg-gray-200">
          <div class="w-1/6">
            {isLink ? (
              <a class="linkButt" href={jsurl}>
                link
              </a>
            ) : (
              <div>x</div>
            )}
          </div>
          <div class="w-5/6">
            <a href={url}>{title}</a>
          </div>
        </div>
      ))
    }
  </div>
</MainLayout>
