---
import { SITE_TITLE } from '../../consts';
import MainLayout from '../../layouts/main-layout.astro';
import '../../styles/global.css';
import { studyPosts, type FolderGroup } from '../../lib/utils/study-post';

const posts = studyPosts();
---

<MainLayout>
  <div class="flex flex-col">
    {
      posts.map((group) => (
        <div>
          {group.folder && (
            <div class="hover:bg-gray-200">
              <a href={group.parentUrl}>{group.folder}</a>
            </div>
          )}
          <div class={group.folder ? 'pl-4 border-l border-gray-600' : ''}>
            {group.children.map((child) => (
              <div class="flex flex-row justify-between hover:bg-gray-200 ">
                <div class="w-5/6">
                  <a href={child.url}>{child.title}</a>
                </div>
                <div class="w-1/6">
                  {child.isLink ? (
                    <a class="linkButt" href={child.jsurl}>
                      link
                    </a>
                  ) : (
                    ''
                  )}
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</MainLayout>
