---
import MainLayout from '../../layouts/main-layout.astro';
import '../../styles/global.css';
import { studyPosts, type FolderGroup } from '../../lib/utils/study-post';

const posts = studyPosts();
---

<MainLayout>
  <div class="flex flex-col divide-y">
    {
      posts.map((group) => {
        const hasSelfAsChild =
          group.children.length === 1 &&
          group.children[0].title === group.folder;

        return (
          <div>
            {/* 상위 폴더 */}
            <div class="flex justify-between items-center gap-4 py-2 hover:bg-gray-100">
              <a href={group.parentUrl} class="flex-1 truncate">
                {group.folder}
              </a>
              <div class="text-sm text-gray-500 w-1/5 hidden sm:block">
                {group.folderStartDate}
              </div>
            </div>

            {/* 자식 파일 */}
            {group.children.length > 0 && !hasSelfAsChild && (
              <div class="pl-4 border-l border-gray-300">
                {group.children.map((child) => (
                  <div class="flex justify-between items-center gap-4 py-2 hover:bg-gray-50">
                    <a href={child.url} class="flex-1 truncate">
                      {child.title}
                    </a>
                  </div>
                ))}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</MainLayout>
