---
import MainLayout from '../../layouts/main-layout.astro';
import '../../styles/global.css';

const pageTitle = 'study';
const description = 'js, frontend 스터디 기록';
const posts = Object.entries(
  import.meta.glob('../../content/study/**/*.md', { eager: true }),
).map(([path, module]: [string, any]) => {
  const slug = path.replace('../../content/study/', '').replace(/\.md$/, '');
  return {
    title: slug,
    url: `/study/${slug}`,
    isLink: module.frontmatter.isLink,
    jsurl: `/study/${slug}/forJS`,
  };
});
---

<MainLayout pageTitle={pageTitle} description={description}>
  <ul>
    {
      posts.map(({ url, title, isLink, jsurl }) => (
        <div class=" flex flex-row justify-between hover:bg-gray-200">
          <a href={url}>{title}</a>
          {isLink ? (
            <a class="linkButt" href={jsurl}>
              {' '}
              link
            </a>
          ) : (
            ''
          )}
        </div>
      ))
    }
  </ul>
</MainLayout>
